body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: azure;
    background: linear-gradient(#0E1A44,#345ffa);
    justify-content: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

.header-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.header{
    width: 800px;
    height: 158px;
    background: #1e1e1e00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 13px;
}

.title{
    width: 200px;
    margin-left: 20px;
    color: #fff;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 47px;
    letter-spacing: 0.1rem;
}

.player-score{
    margin-right: 20px;
    height: 128px;
    width: 139px;
    background: #ffffff;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-score p{
    margin: 0px;
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    color: #656565;
    width: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.06rem;
    text-align: center;
}

#score{
    margin: 0px;
    font-weight: 700px;
    font-size: 68px;
    color: #252525;
    line-height: 80px;
}

.game-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.game-body{
    width: 1200px;
    height: 450px;
    background: #1e1e1e00;
    display: flex;
    justify-content: center;
    border-radius: 13px;
    padding-left: 170px;
}

.game-body .button{
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-body .button:hover{   
    box-shadow: 0px 0px 0px 20px #12297aaf;
}

.scissor {
    
    border: 10px solid #CC00FF;
    cursor: pointer;

    position: relative;
    left: 230px;
    top: 80px;
}

.rock {
    cursor: pointer;
    border: 10px solid #FFD600;

    position: relative;
    left: 330px;
    top: 80px;
}

.paper {
    border: 10px solid #FF4370;
    cursor: pointer;

    position: relative;
    left: 430px;
    top: 230px;
}

.line{
    width: 220px;
    height: 15px;
    z-index: -1;
}

.img1{
    position: relative;
    left: 70px;
    top: 120px;
}

.img2{
    position: relative;
    right: 230px;
    top: 190px;
    transform: rotate(60deg);
}

.img3{
    position: relative;
    right: 290px;
    top: 190px;
    transform: rotate(-60deg);
}

.try-again{
    width: auto;
    height: 20px;
    background: #1e1e1e00;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 400px;
    right: 570px;
    z-index: -1;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

@keyframes blinker {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blink{
    animation: blinker 1s linear infinite;
}

.hideDisplay {
    display: none !important;
}

.hideVisible {
    visibility: hidden;
}

.non-clickable {
    pointer-events: none;
    cursor: none;
}

.game-result{
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 50px;
    padding: 50px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}

.game-result .player, .computer{
    width: auto;
    height: 230px;
    background: #ffffff00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-result .button{
    width: 150px;
    height: 150px;
    background: #ffffff;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-result .won{   
    box-shadow: 0px 0px 0px 100px #12297a2c;
}

.game-result .result{
    width: auto;
    height: auto;
    background: #ffffff00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result button{
    margin-top: 20px;
    width: 174px;
    height: 44px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(107, 107, 107);
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.06rem;
}

.result button:hover{
    box-shadow: 0px 5px 5px 5px #091336c7;
}

.result p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 750;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.1rem;
    margin: 0px;
}

.res-paper{
    border: 20px solid #FF4370 ;
    cursor: pointer;
}

.res-rock{
    border: 20px solid #FFD600 ;
    cursor: pointer;
}

.res-scissor{
    border: 20px solid #CC00FF ;
    cursor: pointer;
}
.result #show-result{
    margin: 10px 10px;
    font-size: 39px;
    line-height: 46px;
}

#rulesBtn {
    width: 119px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    right: 50px;
    background-color: #0e1a4400;
    border: 2px solid #fff;
    border-radius: 10px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1rem; 
    color: #fff;
}

#rulesBtn:hover, #rulesBtn:focus {
    background-color: #0e1a4471;
    cursor: pointer;
    box-shadow: 4px 4px #252525;
}

.rules-popup{
    box-sizing: border-box;
    position: absolute;
    width: 278px;
    height: 325px;
    bottom:80px;
    right: 50px;
    background: #08143e;
    border: 5px solid #465ba7;
    border-radius: 13px;

    display: flex;
    flex-direction: column; 
    justify-content: center;

    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.rules-popup h2{
    margin-top: 40px;
    font-weight: 500;
    font-size: 29px;
    line-height: 34px;
    color: #fff;
}

.rules-popup span{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #fff;
}

.rules-popup ul{
    padding-top: 5px;
    list-style-type: square;
    color: yellow;
    text-align: left;
}

.rules-popup li{
    text-align: left;
    margin: 10px 0px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}

.rules-popup button{
    cursor: pointer;
    position: relative;
    left: 125px;
    bottom: 315px;
    background: #b10a0a;
    border: 5px solid #465BA7;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

#closeBtn:hover{
    background: #ff0000;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.76));
}